accelerate
diffusers
imageio
imageio-ffmpeg
PyYAML
timm
gradio
huggingface-hub
gdown
torch
facelib @ git+https://github.com/sajjjadayobi/FaceLib.git@382841efec823f059f49754e5d378abb12cfb551
-e git+https://github.com/IDEA-Research/GroundingDINO.git@57535c5a79791cb76e36fdb64975271354f10251#egg=groundingdino
segment-anything @ git+https://github.com/facebookresearch/segment-anything.git@6fdee8f2727f4506cfbbe553e23b895e27956588
spiga @ git+https://github.com/andresprados/SPIGA.git
natsort