torch # if you encounter CUDA verision mismatches error, try to install torch manually to specify the version that matches your cuda version
accelerate
diffusers
imageio
imageio-ffmpeg
PyYAML
timm
gradio
huggingface-hub
gdown
natsort